In [1]:
import pickle
import numpy as np
import pandas as pd

In [2]:
cxt = ['all', 'person', 'no person', 'animal', 'sports', 'electronic']

In [3]:
AIM_nss_m = pd.read_csv('AIM_nss_m.csv', index_col=[0])
CAS_nss_m = pd.read_csv('CAS_nss_m.csv', index_col=[0])
COVSAL_nss_m = pd.read_csv('COVSAL_nss_m.csv', index_col=[0])
GBVS_nss_m = pd.read_csv('GBVS_nss_m.csv', index_col=[0])
ICF_nss_m = pd.read_csv('ICF_nss_m.csv', index_col=[0])
IK_nss_m = pd.read_csv('IK_nss_m.csv', index_col=[0])
SUN_nss_m = pd.read_csv('SUN_nss_m.csv', index_col=[0])

AIM_nss_s = pd.read_csv('AIM_nss_s.csv', index_col=[0])
CAS_nss_s = pd.read_csv('CAS_nss_s.csv', index_col=[0])
COVSAL_nss_s = pd.read_csv('COVSAL_nss_s.csv', index_col=[0])
GBVS_nss_s = pd.read_csv('GBVS_nss_s.csv', index_col=[0])
ICF_nss_s = pd.read_csv('ICF_nss_s.csv', index_col=[0])
IK_nss_s = pd.read_csv('IK_nss_s.csv', index_col=[0])
SUN_nss_s = pd.read_csv('SUN_nss_s.csv', index_col=[0])

In [4]:
CAS_nss_m

                 cas  cas_face_03  cas_face_05  cas_face_07
all         0.652920     0.812454     0.962956     1.117061
person      0.659682     0.823245     0.978111     1.137702
no person   0.442462     0.476627     0.491278     0.474658
animal      0.621640     0.745935     0.864759     0.990519
sports      0.894343     1.030670     1.154866     1.274021
electronic  0.655160     0.809661     0.956888     1.111828

## Save per metric

### Mean value

In [5]:
labels = ['aim', 'cas','covsal','gbvs','icf','ik','sun',]

In [6]:
no_face = [
  AIM_nss_m['aim'].tolist(), 
  CAS_nss_m['cas'].tolist(),
  COVSAL_nss_m['covsal'].tolist(),
  GBVS_nss_m['gbvs'].tolist(),
  ICF_nss_m['icf'].tolist(),
  IK_nss_m['ik'].tolist(),
  SUN_nss_m['sun'].tolist(),
  ICF_nss_m['dg'].tolist(),
  ]

face_03 = [
  AIM_nss_m['aim_face_03'].tolist(), 
  CAS_nss_m['cas_face_03'].tolist(),
  COVSAL_nss_m['covsal_face_03'].tolist(),
  GBVS_nss_m['gbvs_face_03'].tolist(),
  ICF_nss_m['icf_face_03'].tolist(),
  IK_nss_m['ik_face_03'].tolist(),
  SUN_nss_m['sun_face_03'].tolist(),
  ]

face_05 = [
  AIM_nss_m['aim_face_05'].tolist(), 
  CAS_nss_m['cas_face_05'].tolist(),
  COVSAL_nss_m['covsal_face_05'].tolist(),
  GBVS_nss_m['gbvs_face_05'].tolist(),
  ICF_nss_m['icf_face_05'].tolist(),
  IK_nss_m['ik_face_05'].tolist(),
  SUN_nss_m['sun_face_05'].tolist(),
  ]

face_07 = [
  AIM_nss_m['aim_face_07'].tolist(), 
  CAS_nss_m['cas_face_07'].tolist(),
  COVSAL_nss_m['covsal_face_07'].tolist(),
  GBVS_nss_m['gbvs_face_07'].tolist(),
  ICF_nss_m['icf_face_07'].tolist(),
  IK_nss_m['ik_face_07'].tolist(),
  SUN_nss_m['sun_face_07'].tolist(),
  ]

In [7]:
ICF_nss_m

                 icf  icf_face_03  icf_face_05  icf_face_07        dg
all         0.915737     1.062199     1.154873     1.197391  1.329065
person      0.927365     1.077324     1.172901     1.218562  1.344346
no person   0.553851     0.591458     0.593781     0.538472  0.853478
animal      0.847769     0.954342     1.026694     1.062169  1.309132
sports      1.036985     1.181477     1.277421     1.320616  1.478322
electronic  0.921737     1.073204     1.170206     1.212364  1.341571

In [8]:
NSS_mean_noface = pd.DataFrame(data=no_face, index=labels+['dg'], columns=cxt)
NSS_mean_face_03 = pd.DataFrame(data=face_03, index=labels, columns=cxt)
NSS_mean_face_05 = pd.DataFrame(data=face_05, index=labels, columns=cxt)
NSS_mean_face_07 = pd.DataFrame(data=face_07, index=labels, columns=cxt)

In [9]:
NSS_mean_noface

             all    person  no person    animal    sports  electronic
aim     0.588971  0.594158   0.427543  0.532391  0.678230    0.605716
cas     0.652920  0.659682   0.442462  0.621640  0.894343    0.655160
covsal  0.791076  0.800697   0.491619  0.823930  0.759261    0.807721
gbvs    0.933246  0.940672   0.702105  0.934488  1.003845    0.952838
icf     0.915737  0.927365   0.553851  0.847769  1.036985    0.921737
ik      0.554114  0.560610   0.354069  0.538079  0.679347    0.602399
sun     0.390576  0.393891   0.287422  0.274271  0.383208    0.426072
dg      1.329065  1.344346   0.853478  1.309132  1.478322    1.341571

### Std

In [10]:
no_face = [
  AIM_nss_s['aim'].tolist(), 
  CAS_nss_s['cas'].tolist(),
  COVSAL_nss_s['covsal'].tolist(),
  GBVS_nss_s['gbvs'].tolist(),
  ICF_nss_s['icf'].tolist(),
  IK_nss_s['ik'].tolist(),
  SUN_nss_s['sun'].tolist(),
  ICF_nss_s['dg'].tolist(),
  ]

face_03 = [
  AIM_nss_s['aim_face_03'].tolist(), 
  CAS_nss_s['cas_face_03'].tolist(),
  COVSAL_nss_s['covsal_face_03'].tolist(),
  GBVS_nss_s['gbvs_face_03'].tolist(),
  ICF_nss_s['icf_face_03'].tolist(),
  IK_nss_s['ik_face_03'].tolist(),
  SUN_nss_s['sun_face_03'].tolist(),
  ]

face_05 = [
  AIM_nss_s['aim_face_05'].tolist(), 
  CAS_nss_s['cas_face_05'].tolist(),
  COVSAL_nss_s['covsal_face_05'].tolist(),
  GBVS_nss_s['gbvs_face_05'].tolist(),
  ICF_nss_s['icf_face_05'].tolist(),
  IK_nss_s['ik_face_05'].tolist(),
  SUN_nss_s['sun_face_05'].tolist(),
  ]

face_07 = [
  AIM_nss_s['aim_face_07'].tolist(), 
  CAS_nss_s['cas_face_07'].tolist(),
  COVSAL_nss_s['covsal_face_07'].tolist(),
  GBVS_nss_s['gbvs_face_07'].tolist(),
  ICF_nss_s['icf_face_07'].tolist(),
  IK_nss_s['ik_face_07'].tolist(),
  SUN_nss_s['sun_face_07'].tolist(),
  ]

In [11]:
NSS_std_noface = pd.DataFrame(data=no_face, index=labels+['dg'], columns=cxt)
NSS_std_face_03 = pd.DataFrame(data=face_03, index=labels, columns=cxt)
NSS_std_face_05 = pd.DataFrame(data=face_05, index=labels, columns=cxt)
NSS_std_face_07 = pd.DataFrame(data=face_07, index=labels, columns=cxt)

In [12]:
NSS_std_noface

             all    person  no person    animal    sports  electronic
aim     0.304032  0.304162   0.251159  0.258691  0.298060    0.314687
cas     0.446702  0.446172   0.410531  0.386785  0.484784    0.442085
covsal  0.594008  0.594127   0.505879  0.549387  0.514655    0.621515
gbvs    0.419214  0.419012   0.354767  0.401202  0.414662    0.436758
icf     0.561044  0.559530   0.482078  0.550198  0.569702    0.551910
ik      0.422493  0.423894   0.317294  0.428196  0.401011    0.448801
sun     0.367373  0.368765   0.303494  0.361336  0.372054    0.358320
dg      0.827847  0.827541   0.683843  0.717837  0.929110    0.773999

In [13]:
NSS_std_noface.to_csv('NSS_std_noface.csv')
NSS_std_face_03.to_csv('NSS_std_face_03.csv')
NSS_std_face_05.to_csv('NSS_std_face_05.csv')
NSS_std_face_07.to_csv('NSS_std_face_07.csv')

NSS_mean_noface.to_csv('NSS_mean_noface.csv')
NSS_mean_face_03.to_csv('NSS_mean_face_03.csv')
NSS_mean_face_05.to_csv('NSS_mean_face_05.csv')
NSS_mean_face_07.to_csv('NSS_mean_face_07.csv')

## Calculate means

In [14]:
A = NSS_mean_noface.values
A = A[:-1,:]
B = NSS_mean_face_03.values
C = NSS_mean_face_05.values
D = NSS_mean_face_07.values

In [15]:
X = np.dstack([A, B, C, D])

In [16]:
np.shape(X)

(7, 6, 4)

In [17]:
cxt

['all', 'person', 'no person', 'animal', 'sports', 'electronic']

In [18]:
labels

['aim', 'cas', 'covsal', 'gbvs', 'icf', 'ik', 'sun']

### Mean over contexts

In [19]:
mean_models = (X.mean(axis=1))

NSS_mean_models = pd.DataFrame(data=mean_models, columns=[0, 0.3, 0.5, 0.7], index=labels)
NSS_mean_models

             0.0       0.3       0.5       0.7
aim     0.571168  0.762150  0.905719  1.000455
cas     0.654368  0.783099  0.901476  1.017632
covsal  0.745717  0.902421  1.025310  1.098120
gbvs    0.911199  1.022295  1.112492  1.172905
icf     0.867241  0.990001  1.065979  1.091596
ik      0.548103  0.763869  0.915956  1.002372
sun     0.359240  0.582550  0.763815  0.910219

### Mean over models

In [20]:
mean_cxt = (X.mean(axis=0))

NSS_mean_cxt = pd.DataFrame(data=mean_cxt, columns=[0, 0.3, 0.5, 0.7], index=cxt)
NSS_mean_cxt

                 0.0       0.3       0.5       0.7
all         0.689520  0.888323  1.042354  1.152752
person      0.696725  0.900495  1.059050  1.174065
no person   0.465581  0.509514  0.522746  0.489451
animal      0.653224  0.809741  0.938645  1.035777
sports      0.776460  0.965182  1.117180  1.235340
electronic  0.710235  0.903645  1.054950  1.164014

In [21]:
NSS_mean_cxt.to_csv('NSS_mean_cxt.csv')
NSS_mean_models.to_csv('NSS_mean_models.csv')