In [1]:
import pickle
import numpy as np
import pandas as pd

In [2]:
cxt = ['all', 'person', 'no person', 'animal', 'sports', 'electronic']

In [3]:
AIM_sim_m = pd.read_csv('AIM_sim_m.csv', index_col=[0])
CAS_sim_m = pd.read_csv('CAS_sim_m.csv', index_col=[0])
COVSAL_sim_m = pd.read_csv('COVSAL_sim_m.csv', index_col=[0])
GBVS_sim_m = pd.read_csv('GBVS_sim_m.csv', index_col=[0])
ICF_sim_m = pd.read_csv('ICF_sim_m.csv', index_col=[0])
IK_sim_m = pd.read_csv('IK_sim_m.csv', index_col=[0])
SUN_sim_m = pd.read_csv('SUN_sim_m.csv', index_col=[0])

AIM_sim_s = pd.read_csv('AIM_sim_s.csv', index_col=[0])
CAS_sim_s = pd.read_csv('CAS_sim_s.csv', index_col=[0])
COVSAL_sim_s = pd.read_csv('COVSAL_sim_s.csv', index_col=[0])
GBVS_sim_s = pd.read_csv('GBVS_sim_s.csv', index_col=[0])
ICF_sim_s = pd.read_csv('ICF_sim_s.csv', index_col=[0])
IK_sim_s = pd.read_csv('IK_sim_s.csv', index_col=[0])
SUN_sim_s = pd.read_csv('SUN_sim_s.csv', index_col=[0])

In [4]:
CAS_sim_m

                 cas  cas_face_03  cas_face_05  cas_face_07
all         0.410865     0.431196     0.454693     0.495765
person      0.407912     0.428707     0.452856     0.495309
no person   0.502755     0.508665     0.511874     0.509974
animal      0.391060     0.406556     0.425311     0.459758
sports      0.438167     0.456564     0.477783     0.516755
electronic  0.405628     0.425402     0.448753     0.489959

## Save per metric

### Mean value

In [5]:
labels = ['aim', 'cas','covsal','gbvs','icf','ik','sun',]

In [6]:
no_face = [
  AIM_sim_m['aim'].tolist(), 
  CAS_sim_m['cas'].tolist(),
  COVSAL_sim_m['covsal'].tolist(),
  GBVS_sim_m['gbvs'].tolist(),
  ICF_sim_m['icf'].tolist(),
  IK_sim_m['ik'].tolist(),
  SUN_sim_m['sun'].tolist(),
  ICF_sim_m['dg'].tolist(),
  ]

face_03 = [
  AIM_sim_m['aim_face_03'].tolist(), 
  CAS_sim_m['cas_face_03'].tolist(),
  COVSAL_sim_m['covsal_face_03'].tolist(),
  GBVS_sim_m['gbvs_face_03'].tolist(),
  ICF_sim_m['icf_face_03'].tolist(),
  IK_sim_m['ik_face_03'].tolist(),
  SUN_sim_m['sun_face_03'].tolist(),
  ]

face_05 = [
  AIM_sim_m['aim_face_05'].tolist(), 
  CAS_sim_m['cas_face_05'].tolist(),
  COVSAL_sim_m['covsal_face_05'].tolist(),
  GBVS_sim_m['gbvs_face_05'].tolist(),
  ICF_sim_m['icf_face_05'].tolist(),
  IK_sim_m['ik_face_05'].tolist(),
  SUN_sim_m['sun_face_05'].tolist(),
  ]

face_07 = [
  AIM_sim_m['aim_face_07'].tolist(), 
  CAS_sim_m['cas_face_07'].tolist(),
  COVSAL_sim_m['covsal_face_07'].tolist(),
  GBVS_sim_m['gbvs_face_07'].tolist(),
  ICF_sim_m['icf_face_07'].tolist(),
  IK_sim_m['ik_face_07'].tolist(),
  SUN_sim_m['sun_face_07'].tolist(),
  ]

In [7]:
ICF_sim_m

                 icf  icf_face_03  icf_face_05  icf_face_07        dg
all         0.463685     0.493709     0.519953     0.548845  0.627605
person      0.461694     0.492492     0.519571     0.549731  0.627135
no person   0.525637     0.531586     0.531860     0.521259  0.642248
animal      0.439458     0.462751     0.481501     0.504549  0.610889
sports      0.475725     0.506134     0.533655     0.563078  0.637648
electronic  0.455837     0.485659     0.512618     0.542500  0.623710

In [8]:
SIM_mean_noface = pd.DataFrame(data=no_face, index=labels+['dg'], columns=cxt)
SIM_mean_face_03 = pd.DataFrame(data=face_03, index=labels, columns=cxt)
SIM_mean_face_05 = pd.DataFrame(data=face_05, index=labels, columns=cxt)
SIM_mean_face_07 = pd.DataFrame(data=face_07, index=labels, columns=cxt)

In [9]:
SIM_mean_noface

             all    person  no person    animal    sports  electronic
aim     0.000000  0.000000   0.000000  0.000000  0.000000    0.000000
cas     0.410865  0.407912   0.502755  0.391060  0.438167    0.405628
covsal  0.437098  0.435892   0.474611  0.431493  0.432125    0.431504
gbvs    0.456899  0.453540   0.561441  0.439632  0.455956    0.451624
icf     0.463685  0.461694   0.525637  0.439458  0.475725    0.455837
ik      0.387092  0.384829   0.456805  0.369226  0.393532    0.387091
sun     0.349760  0.346092   0.463924  0.322741  0.331072    0.347655
dg      0.627605  0.627135   0.642248  0.610889  0.637648    0.623710

### Std

In [10]:
no_face = [
  AIM_sim_s['aim'].tolist(), 
  CAS_sim_s['cas'].tolist(),
  COVSAL_sim_s['covsal'].tolist(),
  GBVS_sim_s['gbvs'].tolist(),
  ICF_sim_s['icf'].tolist(),
  IK_sim_s['ik'].tolist(),
  SUN_sim_s['sun'].tolist(),
  ICF_sim_s['dg'].tolist(),
  ]

face_03 = [
  AIM_sim_s['aim_face_03'].tolist(), 
  CAS_sim_s['cas_face_03'].tolist(),
  COVSAL_sim_s['covsal_face_03'].tolist(),
  GBVS_sim_s['gbvs_face_03'].tolist(),
  ICF_sim_s['icf_face_03'].tolist(),
  IK_sim_s['ik_face_03'].tolist(),
  SUN_sim_s['sun_face_03'].tolist(),
  ]

face_05 = [
  AIM_sim_s['aim_face_05'].tolist(), 
  CAS_sim_s['cas_face_05'].tolist(),
  COVSAL_sim_s['covsal_face_05'].tolist(),
  GBVS_sim_s['gbvs_face_05'].tolist(),
  ICF_sim_s['icf_face_05'].tolist(),
  IK_sim_s['ik_face_05'].tolist(),
  SUN_sim_s['sun_face_05'].tolist(),
  ]

face_07 = [
  AIM_sim_s['aim_face_07'].tolist(), 
  CAS_sim_s['cas_face_07'].tolist(),
  COVSAL_sim_s['covsal_face_07'].tolist(),
  GBVS_sim_s['gbvs_face_07'].tolist(),
  ICF_sim_s['icf_face_07'].tolist(),
  IK_sim_s['ik_face_07'].tolist(),
  SUN_sim_s['sun_face_07'].tolist(),
  ]

In [11]:
SIM_std_noface = pd.DataFrame(data=no_face, index=labels+['dg'], columns=cxt)
SIM_std_face_03 = pd.DataFrame(data=face_03, index=labels, columns=cxt)
SIM_std_face_05 = pd.DataFrame(data=face_05, index=labels, columns=cxt)
SIM_std_face_07 = pd.DataFrame(data=face_07, index=labels, columns=cxt)

In [12]:
SIM_std_noface

             all    person  no person    animal    sports  electronic
aim     0.000000  0.000000   0.000000  0.000000  0.000000    0.000000
cas     0.088249  0.084578   0.137172  0.080339  0.083569    0.076910
covsal  0.107362  0.106385   0.128748  0.109678  0.113454    0.107453
gbvs    0.091007  0.087316   0.132240  0.077027  0.088439    0.080299
icf     0.095754  0.093521   0.135499  0.087889  0.097922    0.089101
ik      0.082949  0.080661   0.115707  0.073773  0.083419    0.076763
sun     0.087053  0.083043   0.123909  0.075091  0.085615    0.072936
dg      0.073574  0.073050   0.087077  0.077541  0.076631    0.072778

In [13]:
SIM_std_noface.to_csv('SIM_std_noface.csv')
SIM_std_face_03.to_csv('SIM_std_face_03.csv')
SIM_std_face_05.to_csv('SIM_std_face_05.csv')
SIM_std_face_07.to_csv('SIM_std_face_07.csv')

SIM_mean_noface.to_csv('SIM_mean_noface.csv')
SIM_mean_face_03.to_csv('SIM_mean_face_03.csv')
SIM_mean_face_05.to_csv('SIM_mean_face_05.csv')
SIM_mean_face_07.to_csv('SIM_mean_face_07.csv')

## Calculate means

In [14]:
A = SIM_mean_noface.values
A = A[:-1,:]
B = SIM_mean_face_03.values
C = SIM_mean_face_05.values
D = SIM_mean_face_07.values

In [15]:
X = np.dstack([A, B, C, D])

In [16]:
np.shape(X)

(7, 6, 4)

In [17]:
cxt

['all', 'person', 'no person', 'animal', 'sports', 'electronic']

In [18]:
labels

['aim', 'cas', 'covsal', 'gbvs', 'icf', 'ik', 'sun']

### Mean over contexts

In [19]:
mean_models = (X.mean(axis=1))

SIM_mean_models = pd.DataFrame(data=mean_models, columns=[0, 0.3, 0.5, 0.7], index=labels)
SIM_mean_models

             0.0       0.3       0.5       0.7
aim     0.000000  0.000000  0.000000  0.000000
cas     0.426064  0.442848  0.461878  0.494587
covsal  0.440454  0.482180  0.518204  0.545973
gbvs    0.469849  0.486411  0.505012  0.535534
icf     0.470339  0.495389  0.516526  0.538327
ik      0.396429  0.427625  0.459395  0.496185
sun     0.360207  0.385786  0.412753  0.452502

### Mean over models

In [20]:
mean_cxt = (X.mean(axis=0))

SIM_mean_cxt = pd.DataFrame(data=mean_cxt, columns=[0, 0.3, 0.5, 0.7], index=cxt)
SIM_mean_cxt

                 0.0       0.3       0.5       0.7
all         0.357914  0.385222  0.412420  0.446859
person      0.355708  0.383674  0.411715  0.447488
no person   0.426453  0.433410  0.434375  0.427287
animal      0.341944  0.363085  0.385481  0.415656
sports      0.360939  0.385218  0.410870  0.445480
electronic  0.354191  0.381024  0.408368  0.442751

In [21]:
SIM_mean_cxt.to_csv('SIM_mean_cxt.csv')
SIM_mean_models.to_csv('SIM_mean_models.csv')