# Visualize and Analyze the data

In [1]:
import os

import numpy as np
import pickle
import matplotlib.pyplot as plt
import matplotlib.gridspec as gridspec
import matplotlib

import pandas as pd
import seaborn as sns
from glob import glob

matplotlib.rcParams.update({'font.size': 15})

In [2]:
os.getcwd()

'/home/alteska/Desktop/coco_train_results'

In [3]:
os.chdir('data/')

In [4]:
glob('AUC*.csv')

['AUC_std_face_05.csv',
 'AUC_mean_face_07.csv',
 'AUC_mean_cxt.csv',
 'AUC_mean_face_03.csv',
 'AUC_mean_models.csv',
 'AUC_std_noface.csv',
 'AUC_std_face_03.csv',
 'AUC_mean_face_05.csv',
 'AUC_std_face_07.csv',
 'AUC_mean_noface.csv']

## Load all of the data

In [5]:
AUC = pd.read_csv('AUC_mean_noface.csv', index_col=[0])
AUC_f03 = pd.read_csv('AUC_mean_face_03.csv', index_col=[0])
AUC_f05 = pd.read_csv('AUC_mean_face_05.csv', index_col=[0])
AUC_f07 = pd.read_csv('AUC_mean_face_07.csv', index_col=[0])

In [6]:
AUC

             all    person  no person    animal    sports  electronic
aim     0.667399  0.675930   0.651460  0.658173  0.702019    0.660210
cas     0.694740  0.705537   0.674566  0.688424  0.743562    0.681332
covsal  0.743704  0.748337   0.735049  0.749722  0.755804    0.738809
gbvs    0.749366  0.756851   0.735382  0.754977  0.780210    0.744469
icf     0.714083  0.724809   0.694044  0.707857  0.742238    0.706599
ik      0.656940  0.669288   0.633871  0.656090  0.692848    0.657036
sun     0.624444  0.625526   0.622424  0.592391  0.633091    0.624564
dg      0.774691  0.785386   0.754710  0.782197  0.802257    0.770191

## Change scores into DataFrames

In [7]:
AUC.columns.name='models'
AUC.index.name='context'

# AUC = AUC.transpose()

# faces = AUC.loc['faces']
# dg = AUC.loc['dg']
AUC = AUC.loc[['aim','cas', 'covsal', 'gbvs', 'icf', 'ik', 'sun']]

AUC

models        all    person  no person    animal    sports  electronic
context
aim      0.667399  0.675930   0.651460  0.658173  0.702019    0.660210
cas      0.694740  0.705537   0.674566  0.688424  0.743562    0.681332
covsal   0.743704  0.748337   0.735049  0.749722  0.755804    0.738809
gbvs     0.749366  0.756851   0.735382  0.754977  0.780210    0.744469
icf      0.714083  0.724809   0.694044  0.707857  0.742238    0.706599
ik       0.656940  0.669288   0.633871  0.656090  0.692848    0.657036
sun      0.624444  0.625526   0.622424  0.592391  0.633091    0.624564

In [8]:
AUC['mean model'] = AUC.mean(axis=1)
AUC = AUC.transpose()
AUC['mean context'] = AUC.mean(axis=1)
AUC = AUC.transpose()
AUC

models,all,person,no person,animal,sports,electronic,mean model
context,,,,,,,
aim,0.667399,0.675930,0.651460,0.658173,0.702019,0.660210,0.669199
cas,0.694740,0.705537,0.674566,0.688424,0.743562,0.681332,0.698027
covsal,0.743704,0.748337,0.735049,0.749722,0.755804,0.738809,0.745238
gbvs,0.749366,0.756851,0.735382,0.754977,0.780210,0.744469,0.753542
icf,0.714083,0.724809,0.694044,0.707857,0.742238,0.706599,0.714938
ik,0.656940,0.669288,0.633871,0.656090,0.692848,0.657036,0.661012
sun,0.624444,0.625526,0.622424,0.592391,0.633091,0.624564,0.620407
mean context,0.692954,0.700897,0.678114,0.686805,0.721396,0.687574,0.694623

In [9]:
AUC_mean_model = AUC.transpose().loc['mean model']
AUC_mean_context = AUC.loc['mean context']

In [10]:
AUC_mean_model

context
aim             0.669199
cas             0.698027
covsal          0.745238
gbvs            0.753542
icf             0.714938
ik              0.661012
sun             0.620407
mean context    0.694623
Name: mean model, dtype: float64

In [11]:
AUC_f03.columns.name='models'
AUC_f03.index.name='context'

# Rename columns of the face plot
col = {'aim_face_03':'aim', 'cas_face_03':'cas', 'covsal_face_03':'covsal', 'gbvs_face_03':'gbvs',
       'icf_face_03':'icf', 'ik_10_face_03':'ik_10', 'sun_face_03':'sun', 'ik_face_03':'ik'}
AUC_f03 = AUC_f03.rename(index=str, columns=col).transpose()

AUC_f03

context,aim,cas,covsal,gbvs,icf,ik,sun
models,,,,,,,
all,0.672630,0.698729,0.746796,0.751947,0.715740,0.662315,0.631391
person,0.683892,0.711624,0.753053,0.760785,0.727315,0.677464,0.636110
no person,0.651590,0.674635,0.735105,0.735434,0.694115,0.634011,0.622574
animal,0.660025,0.689674,0.751149,0.755935,0.708423,0.658087,0.595219
sports,0.704642,0.745200,0.757816,0.781719,0.743268,0.695549,0.637396
electronic,0.666772,0.686698,0.743390,0.747994,0.709048,0.663965,0.633686

In [12]:
AUC_f03['mean context'] = AUC_f03.mean(axis=1)
AUC_f03 = AUC_f03.transpose()
AUC_f03['mean model'] = AUC_f03.mean(axis=1)
AUC_f03 = AUC_f03.transpose()
AUC_f03

context,aim,cas,covsal,gbvs,icf,ik,sun,mean context
models,,,,,,,,
all,0.672630,0.698729,0.746796,0.751947,0.715740,0.662315,0.631391,0.697078
person,0.683892,0.711624,0.753053,0.760785,0.727315,0.677464,0.636110,0.707177
no person,0.651590,0.674635,0.735105,0.735434,0.694115,0.634011,0.622574,0.678209
animal,0.660025,0.689674,0.751149,0.755935,0.708423,0.658087,0.595219,0.688359
sports,0.704642,0.745200,0.757816,0.781719,0.743268,0.695549,0.637396,0.723656
electronic,0.666772,0.686698,0.743390,0.747994,0.709048,0.663965,0.633686,0.693079
mean model,0.673258,0.701093,0.747885,0.755636,0.716318,0.665232,0.626062,0.697926

In [13]:
AUC_f03_mean_model = AUC_f03.loc['mean model']
AUC_f03_mean_context = AUC_f03.transpose().loc['mean context']

In [14]:
AUC_f03_mean_model

context
aim             0.673258
cas             0.701093
covsal          0.747885
gbvs            0.755636
icf             0.716318
ik              0.665232
sun             0.626062
mean context    0.697926
Name: mean model, dtype: float64

In [15]:
AUC_f05.columns.name='models'
AUC_f05.index.name='context'

# Rename columns of the face plot
col = {'aim_face_05':'aim', 'cas_face_05':'cas', 'covsal_face_05':'covsal', 'gbvs_face_05':'gbvs',
       'icf_face_05':'icf', 'ik_10_face_05':'ik_10', 'sun_face_05':'sun', 'ik_face_05':'ik'}
AUC_f05 = AUC_f05.rename(index=str, columns=col).transpose()

AUC_f05

context,aim,cas,covsal,gbvs,icf,ik,sun
models,,,,,,,
all,0.673422,0.700353,0.747907,0.752648,0.716269,0.663518,0.633186
person,0.685102,0.714109,0.754747,0.761860,0.728127,0.679300,0.638852
no person,0.651602,0.674653,0.735129,0.735436,0.694113,0.634032,0.622601
animal,0.660316,0.690178,0.751623,0.756197,0.708662,0.658585,0.595998
sports,0.705129,0.745823,0.758670,0.782176,0.743702,0.696291,0.638744
electronic,0.667845,0.688780,0.745088,0.748975,0.709841,0.665551,0.635894

In [16]:
AUC_f05['mean context'] = AUC_f05.mean(axis=1)
AUC_f05 = AUC_f05.transpose()
AUC_f05['mean model'] = AUC_f05.mean(axis=1)
AUC_f05 = AUC_f05.transpose()
AUC_f05

context,aim,cas,covsal,gbvs,icf,ik,sun,mean context
models,,,,,,,,
all,0.673422,0.700353,0.747907,0.752648,0.716269,0.663518,0.633186,0.698186
person,0.685102,0.714109,0.754747,0.761860,0.728127,0.679300,0.638852,0.708871
no person,0.651602,0.674653,0.735129,0.735436,0.694113,0.634032,0.622601,0.678224
animal,0.660316,0.690178,0.751623,0.756197,0.708662,0.658585,0.595998,0.688794
sports,0.705129,0.745823,0.758670,0.782176,0.743702,0.696291,0.638744,0.724362
electronic,0.667845,0.688780,0.745088,0.748975,0.709841,0.665551,0.635894,0.694568
mean model,0.673903,0.702316,0.748861,0.756215,0.716786,0.666213,0.627546,0.698834

In [17]:
AUC_f05_mean_model = AUC_f05.loc['mean model']
AUC_f05_mean_context = AUC_f05.transpose().loc['mean context']

In [18]:
AUC_f07.columns.name='models'
AUC_f07.index.name='context'

# Rename columns of the face plot
col = {'aim_face_07':'aim', 'cas_face_07':'cas', 'covsal_face_07':'covsal', 'gbvs_face_07':'gbvs',
       'icf_face_07':'icf', 'ik_10_face_07':'ik_10', 'sun_face_07':'sun', 'ik_face_07':'ik'}
AUC_f07 = AUC_f07.rename(index=str, columns=col).transpose()

AUC_f07

context,aim,cas,covsal,gbvs,icf,ik,sun
models,,,,,,,
all,0.674163,0.701140,0.749089,0.752909,0.716903,0.664329,0.634122
person,0.686218,0.715308,0.756504,0.762269,0.729096,0.680528,0.640278
no person,0.651640,0.674669,0.735235,0.735422,0.694122,0.634062,0.622619
animal,0.660701,0.690495,0.752197,0.756329,0.709061,0.659037,0.596435
sports,0.705678,0.746190,0.759735,0.782433,0.744237,0.696871,0.639483
electronic,0.668927,0.689888,0.746879,0.749367,0.710843,0.666733,0.637194

In [19]:
AUC_f07['mean context'] = AUC_f07.mean(axis=1)
AUC_f07 = AUC_f07.transpose()
AUC_f07['mean model'] = AUC_f07.mean(axis=1)
AUC_f07 = AUC_f07.transpose()
AUC_f07

context,aim,cas,covsal,gbvs,icf,ik,sun,mean context
models,,,,,,,,
all,0.674163,0.701140,0.749089,0.752909,0.716903,0.664329,0.634122,0.698951
person,0.686218,0.715308,0.756504,0.762269,0.729096,0.680528,0.640278,0.710029
no person,0.651640,0.674669,0.735235,0.735422,0.694122,0.634062,0.622619,0.678253
animal,0.660701,0.690495,0.752197,0.756329,0.709061,0.659037,0.596435,0.689179
sports,0.705678,0.746190,0.759735,0.782433,0.744237,0.696871,0.639483,0.724947
electronic,0.668927,0.689888,0.746879,0.749367,0.710843,0.666733,0.637194,0.695690
mean model,0.674555,0.702949,0.749940,0.756455,0.717377,0.666927,0.628355,0.699508

In [20]:
AUC_f07_mean_model = AUC_f07.loc['mean model']
AUC_f07_mean_context = AUC_f07.transpose().loc['mean context']

In [21]:
AUC_f07_mean_model

context
aim             0.674555
cas             0.702949
covsal          0.749940
gbvs            0.756455
icf             0.717377
ik              0.666927
sun             0.628355
mean context    0.699508
Name: mean model, dtype: float64

## Create Mean Matrices

In [22]:
mean_models = pd.DataFrame([AUC_mean_model,
                           AUC_f03_mean_model,
                           AUC_f05_mean_model,
                           AUC_f07_mean_model], index=[0,0.3,0.5,0.7])

mean_models = mean_models.transpose()
# mean_models = mean_models.loc[['all', 'person', 'no person', 'animal', 'electronic', 'sports']]
mean_models

                   0.0       0.3       0.5       0.7
context
aim           0.669199  0.673258  0.673903  0.674555
cas           0.698027  0.701093  0.702316  0.702949
covsal        0.745238  0.747885  0.748861  0.749940
gbvs          0.753542  0.755636  0.756215  0.756455
icf           0.714938  0.716318  0.716786  0.717377
ik            0.661012  0.665232  0.666213  0.666927
sun           0.620407  0.626062  0.627546  0.628355
mean context  0.694623  0.697926  0.698834  0.699508

In [23]:
mean_contexts = pd.DataFrame([AUC_mean_context,
                              AUC_f03_mean_context,
                              AUC_f05_mean_context,
                              AUC_f07_mean_context], index=[0,0.3,0.5,0.7])
mean_contexts

models,all,person,no person,animal,sports,electronic,mean model
0.0,0.692954,0.700897,0.678114,0.686805,0.721396,0.687574,0.694623
0.3,0.697078,0.707177,0.678209,0.688359,0.723656,0.693079,0.697926
0.5,0.698186,0.708871,0.678224,0.688794,0.724362,0.694568,0.698834
0.7,0.698951,0.710029,0.678253,0.689179,0.724947,0.695690,0.699508

In [24]:
mean_contexts = mean_contexts.transpose()
# mean_models = mean_models.loc[['all', 'person', 'no person', 'animal', 'electronic', 'sports']]

# mean_contexts = mean_contexts.loc[['aim', 'cas','covsal', 'gbvs', 'icf', 'ik', 'sun']]
mean_contexts =mean_contexts.loc[['all', 'person', 'no person', 'animal', 'electronic', 'sports']]
mean_contexts

                 0.0       0.3       0.5       0.7
models
all         0.692954  0.697078  0.698186  0.698951
person      0.700897  0.707177  0.708871  0.710029
no person   0.678114  0.678209  0.678224  0.678253
animal      0.686805  0.688359  0.688794  0.689179
electronic  0.687574  0.693079  0.694568  0.695690
sports      0.721396  0.723656  0.724362  0.724947

## Vizualization

### Data Prep

In [28]:
AUC.transpose()

context,aim,cas,covsal,gbvs,icf,ik,sun,mean context
models,,,,,,,,
all,0.667399,0.694740,0.743704,0.749366,0.714083,0.656940,0.624444,0.692954
person,0.675930,0.705537,0.748337,0.756851,0.724809,0.669288,0.625526,0.700897
no person,0.651460,0.674566,0.735049,0.735382,0.694044,0.633871,0.622424,0.678114
animal,0.658173,0.688424,0.749722,0.754977,0.707857,0.656090,0.592391,0.686805
sports,0.702019,0.743562,0.755804,0.780210,0.742238,0.692848,0.633091,0.721396
electronic,0.660210,0.681332,0.738809,0.744469,0.706599,0.657036,0.624564,0.687574
mean model,0.669199,0.698027,0.745238,0.753542,0.714938,0.661012,0.620407,0.694623

In [31]:
AUC0

context,aim,cas,covsal,gbvs,icf,ik,sun
models,,,,,,,
all,0.667399,0.694740,0.743704,0.749366,0.714083,0.656940,0.624444
person,0.675930,0.705537,0.748337,0.756851,0.724809,0.669288,0.625526
no person,0.651460,0.674566,0.735049,0.735382,0.694044,0.633871,0.622424
animal,0.658173,0.688424,0.749722,0.754977,0.707857,0.656090,0.592391
electronic,0.660210,0.681332,0.738809,0.744469,0.706599,0.657036,0.624564
sports,0.702019,0.743562,0.755804,0.780210,0.742238,0.692848,0.633091

In [35]:
AUC0 = AUC.loc[['aim', 'cas', 'covsal', 'gbvs', 'icf', 'ik', 'sun']]
AUC0 = AUC0.transpose().loc[['all', 'person', 'no person', 'animal','electronic', 'sports']]

In [34]:
AUCmean_context = AUC.transpose().loc[['mean context']]
AUCmean_context = AUCmean_context.transpose().loc[['aim', 'cas', 'covsal', 'gbvs', 'icf', 'ik', 'sun']].transpose()

In [63]:
AUCmean_context

context,aim,cas,covsal,gbvs,icf,ik,sun
models,,,,,,,
mean model,0.669199,0.698027,0.745238,0.753542,0.714938,0.661012,0.620407

In [42]:
AUCmean_model = AUC.transpose().loc[['mean model']]
AUCmean_model

context,aim,cas,covsal,gbvs,icf,ik,sun,mean context
models,,,,,,,,
mean model,0.669199,0.698027,0.745238,0.753542,0.714938,0.661012,0.620407,0.694623

In [46]:
AUCmean_model

context,aim,cas,covsal,gbvs,icf,ik,sun,mean context
models,,,,,,,,
mean model,0.669199,0.698027,0.745238,0.753542,0.714938,0.661012,0.620407,0.694623

In [48]:
AUCmean_model = AUCmean_model.drop(['mean context'], axis=1)

In [53]:
AUC_f03

context,aim,cas,covsal,gbvs,icf,ik,sun,mean context
models,,,,,,,,
all,0.672630,0.698729,0.746796,0.751947,0.715740,0.662315,0.631391,0.697078
person,0.683892,0.711624,0.753053,0.760785,0.727315,0.677464,0.636110,0.707177
no person,0.651590,0.674635,0.735105,0.735434,0.694115,0.634011,0.622574,0.678209
animal,0.660025,0.689674,0.751149,0.755935,0.708423,0.658087,0.595219,0.688359
sports,0.704642,0.745200,0.757816,0.781719,0.743268,0.695549,0.637396,0.723656
electronic,0.666772,0.686698,0.743390,0.747994,0.709048,0.663965,0.633686,0.693079
mean model,0.673258,0.701093,0.747885,0.755636,0.716318,0.665232,0.626062,0.697926

In [54]:
AUC0_f03 = AUC_f03.transpose().loc[['aim', 'cas', 'covsal', 'gbvs', 'icf', 'ik', 'sun']]
AUC0_f03 = AUC0_f03.transpose().loc[['all', 'person', 'no person', 'animal','electronic', 'sports']]

In [60]:
AUCmean_context_f03 = AUC_f03.transpose().loc[['mean context']]
AUCmean_context_f03

models,all,person,no person,animal,sports,electronic,mean model
context,,,,,,,
mean context,0.697078,0.707177,0.678209,0.688359,0.723656,0.693079,0.697926

In [61]:
AUCmean_context_f03 = AUCmean_context_f03.drop(['mean model'], axis=1)

In [62]:
AUCmean_model_f03 = AUC_f03.loc[['mean model']]
AUCmean_model_f03 = AUCmean_model_f03.transpose().loc[['all', 'person', 'no person', 'animal','electronic', 'sports']]

KeyError: "None of [Index(['all', 'person', 'no person', 'animal', 'electronic', 'sports'], dtype='object', name='context')] are in the [index]"

In [ ]:
AUC0_f05 = AUC_f05.loc[['aim', 'cas', 'covsal', 'gbvs', 'icf', 'ik', 'sun']]
AUC0_f05 = AUC0_f05.transpose().loc[['all', 'person', 'no person', 'animal','electronic', 'sports']]

AUCmean_context_f05 = AUC_f05.transpose().loc[['mean context']]
AUCmean_context_f05 = AUCmean_context_f05.transpose().loc[['aim', 'cas', 'covsal', 'gbvs', 'icf', 'ik', 'sun']].transpose()

AUCmean_model_f05 = AUC_f05.loc[['mean model']]
AUCmean_model_f05 = AUCmean_model_f05.transpose().loc[['all', 'person', 'no person', 'animal','electronic', 'sports']]

In [ ]:
AUC0_f07 = AUC_f07.loc[['aim', 'cas', 'covsal', 'gbvs', 'icf', 'ik', 'sun']]
AUC0_f07 = AUC0_f07.transpose().loc[['all', 'person', 'no person', 'animal','electronic', 'sports']]

AUCmean_context_f07 = AUC_f07.transpose().loc[['mean context']]
AUCmean_context_f07 = AUCmean_context_f07.transpose().loc[['aim', 'cas', 'covsal', 'gbvs', 'icf', 'ik', 'sun']].transpose()

AUCmean_model_f07 = AUC_f07.loc[['mean model']]
AUCmean_model_f07 = AUCmean_model_f07.transpose().loc[['all', 'person', 'no person', 'animal','electronic', 'sports']]

In [ ]:
matplotlib.rcParams.update({'font.size': 15})

fig, ax = plt.subplots(figsize=(30,8))
gs = gridspec.GridSpec(2, 8,
                       width_ratios=[7, 1, 7, 1, 7, 1, 7, 1],
                       height_ratios=[6, 1]
                       )

ax01 = plt.subplot(gs[0])
ax02 = plt.subplot(gs[1])
ax03 = plt.subplot(gs[8])

ax11 = plt.subplot(gs[2])
ax12 = plt.subplot(gs[3])
ax13 = plt.subplot(gs[10])

ax21 = plt.subplot(gs[4])
ax22 = plt.subplot(gs[5])
ax23 = plt.subplot(gs[12])

ax31 = plt.subplot(gs[6])
ax32 = plt.subplot(gs[7])
ax33 = plt.subplot(gs[14])

im = sns.heatmap(AUC0, annot=True, linewidths=.5, ax=ax01, cmap='BuGn', cbar=False, xticklabels='', fmt='.2f');
sns.heatmap(AUCmean_model, annot=True, linewidths=.5, ax=ax02, cmap='BuGn', yticklabels='', cbar=False, fmt='.2f');
sns.heatmap(AUCmean_context, annot=True, linewidths=.5, ax=ax03, cmap='BuGn', yticklabels='', cbar=False, fmt='.2f');

sns.heatmap(AUC0_f03, annot=True, linewidths=.5, ax=ax11, cmap='BuGn', cbar=False, xticklabels='');
sns.heatmap(AUCmean_model_f03, annot=True, linewidths=.5, ax=ax12, cmap='BuGn', yticklabels='', cbar=False, fmt='.2f');
sns.heatmap(AUCmean_context_f03, annot=True, linewidths=.5, ax=ax13, cmap='BuGn', yticklabels='', cbar=False, fmt='.2f');

sns.heatmap(AUC0_f05, annot=True, linewidths=.5, ax=ax21, cmap='BuGn', cbar=False, xticklabels='', fmt='.2f');
sns.heatmap(AUCmean_model_f05, annot=True, linewidths=.5, ax=ax22, cmap='BuGn', yticklabels='', cbar=False, fmt='.2f');
sns.heatmap(AUCmean_context_f05, annot=True, linewidths=.5, ax=ax23, cmap='BuGn', yticklabels='', cbar=False, fmt='.2f');

sns.heatmap(AUC0_f07, annot=True, linewidths=.5, ax=ax31, cmap='BuGn', cbar=False, xticklabels='', fmt='.2f');

# sns.heatmap(AUCmean_model_f07, annot=True, linewidths=.5, ax=ax32, cmap='BuGn', yticklabels='', cbar=True, fmt='.2f', cbar_kws={'fraction':1, 'pad':-0.2});
sns.heatmap(AUCmean_model_f07, annot=True, linewidths=.5, ax=ax32, cmap='BuGn', yticklabels='', cbar=False, fmt='.2f');

# plt.colorbar(mappable=im.get_children()[0], cmap='viridis')

sns.heatmap(AUCmean_context_f07, annot=True, linewidths=.5, ax=ax33, cmap='BuGn', yticklabels='', cbar=False, fmt='.2f');


# axes = plt.subplot(gs[8])
# fig.colorbar(mappable=im)
# fig.colorbar(im, ax=axes)


ax01.set_xlabel('');
ax02.set_ylabel('');
ax02.set_xlabel('');
ax03.set_ylabel('');

ax11.set_yticklabels('');
ax11.set_xlabel('');
ax11.set_ylabel('')
ax12.set_ylabel('');
ax12.set_xlabel('');
ax13.set_ylabel('');

ax21.set_yticklabels('');
ax21.set_xlabel('');
ax21.set_ylabel('')
ax22.set_ylabel('');
ax22.set_xlabel('');
ax23.set_ylabel('');

ax31.set_yticklabels('');
ax31.set_xlabel('');
ax31.set_ylabel('')
ax32.set_ylabel('');
ax32.set_xlabel('');
ax33.set_ylabel('');

ax01.set_title('AUC no face');
ax11.set_title('AUC 0.3 face');
ax21.set_title('AUC 0.5 face');
ax31.set_title('AUC 0.7 face');
plt.savefig('../plots/AUC_sep_with_mean.png', bbox_inches='tight', pad_inches=0)

In [ ]:
# fig, axes = plt.subplots(
#         nrows=2, ncols=2, sharex=True, sharey=False, 
#         gridspec_kw={'height_ratios':[6,1],
#                     'width_ratios':[6,1]}
#         )


# im = sns.heatmap(AUC0, annot=True, linewidths=.5, ax=axes[0][0], cmap='viridis', cbar=False);
# sns.heatmap(AUCmean_model, annot=True, linewidths=.5, ax=axes[0][1], cmap='viridis', yticklabels='', cbar=False);
# sns.heatmap(AUCmean_context, annot=True, linewidths=.5, ax=axes[1][0], cmap='viridis', yticklabels='', cbar=False);


# plt.show()

## Vizualization of means

In [ ]:
matplotlib.rcParams.update({'font.size': 20})

f, ax = plt.subplots(figsize=(11, 9))
sns.heatmap(mean_contexts.transpose(), annot=True, linewidths=.5, ax=ax,fmt='.3f', cmap='BuGn');

# plt.title('AUC scores of different models');
plt.ylabel('Weight of face influence')
plt.xticks(rotation=90)

plt.savefig('../plots/AUC_performance_mean_contexts.png', bbox_inches='tight', pad_inches=0)

In [ ]:
f, ax = plt.subplots(figsize=(11, 9))
sns.heatmap(mean_models.transpose(), annot=True, linewidths=.5, ax=ax,fmt='.3f', cmap='BuGn');
# 
# plt.title('AUC scores of different context');
plt.ylabel('Weight of face influence')

plt.savefig('../plots/AUC_performance_mean_model.png', bbox_inches='tight', pad_inches=0)

### Relative Error

In [ ]:
AUC0 = AUC.loc[['aim','cas', 'covsal', 'gbvs', 'icf', 'ik', 'sun', 'mean model']]

In [ ]:
AUC_diff_f03 = ((AUC_f03 - AUC0) / AUC0)*100
AUC_diff_f05 = ((AUC_f05 - AUC0) / AUC0)*100
AUC_diff_f07 = ((AUC_f07 - AUC0) / AUC0)*100

#### Get mean of models and mean of contexts in diff out

In [ ]:
mean_model_diff_f03 = AUC_diff_f03.loc['mean model']
mean_model_diff_f05 = AUC_diff_f05.loc['mean model']
mean_model_diff_f07 = AUC_diff_f07.loc['mean model']

mean_models_diff = pd.DataFrame([mean_model_diff_f03, 
                            mean_model_diff_f05,
                            mean_model_diff_f07], index=[0.3,0.5,0.7])

mean_models_diff = mean_models_diff.transpose()
mean_models_diff

In [ ]:
mean_context_diff_f03 = AUC_diff_f03.transpose().loc['mean context']
mean_context_diff_f05 = AUC_diff_f05.transpose().loc['mean context']
mean_context_diff_f07 = AUC_diff_f07.transpose().loc['mean context']

mean_context_diff = pd.DataFrame([mean_context_diff_f03, 
                            mean_context_diff_f05,
                            mean_context_diff_f07], index=[0.3,0.5,0.7])

mean_context_diff = mean_context_diff.transpose()
mean_context_diff

## Vizualize relative errors

In [ ]:
mean_context_diff = mean_context_diff.loc[['aim', 'cas', 'covsal', 'gbvs', 'icf', 'ik', 'sun']]

fig, ax = plt.subplots(figsize=(11,9));
mean_context_diff.plot.bar(ax=ax);
plt.grid(alpha=0.3)

# plt.title('Weight of face influence')
plt.ylabel('AUC score change [%]');

plt.savefig('../plots/AUC_improvment_mean_contexts.png', bbox_inches='tight', pad_inches=0)

In [ ]:
mean_models_diff = mean_models_diff.loc[['all', 'person', 'no person', 'animal', 'electronic', 'sports']]

fig, ax = plt.subplots(figsize=(11,9));
mean_models_diff.plot.bar(ax=ax);

plt.grid(alpha=0.3)

# plt.title('Weight of face influence')
plt.ylabel('AUC score change [%]');

plt.savefig('../plots/AUC_improvment_mean_model.jpg', bbox_inches='tight', pad_inches=0)

In [ ]:
fig, ax = plt.subplots(1, 2, figsize=(25,9), sharex=False, sharey=True)

im = sns.heatmap(mean_contexts.transpose(), annot=True, linewidths=.5, ax=ax[0], cbar=False, cmap='BuGn');
sns.heatmap(mean_models.transpose(), annot=True, linewidths=.5, ax=ax[1], cbar=False, cmap='BuGn');

mappable = im.get_children()[0]
plt.colorbar(mappable, ax = ax);

ax[0].set_title('mean AUC score across models')
ax[1].set_title('mean AUC score across contexts')

ax[0].tick_params(labelrotation=90)
ax[1].tick_params(labelrotation=90)

ax[0].set_ylabel(r'$\alpha$ face weight')


plt.savefig('../plots/AUC_performance_mean_both.png', bbox_inches='tight', pad_inches=0)

In [ ]:
fig, ax = plt.subplots(1, 2, figsize=(25,9), sharex=False, sharey=True)

mean_context_diff.plot.bar(ax=ax[0]);
mean_models_diff.plot.bar(ax=ax[1]);

ax[0].set_title('score change across models')
ax[1].set_title('score change across contexts')

ax[0].grid(alpha=0.5)
ax[1].grid(alpha=0.5)

ax[0].tick_params(labelrotation=90)
ax[1].tick_params(labelrotation=90)

ax[0].grid(alpha=0.5)
ax[1].grid(alpha=0.5)


ax[0].set_ylabel('AUC score change [%]');

plt.savefig('../plots/AUC_improvements_mean_both.png', bbox_inches='tight', pad_inches=0)