# Load the New Results

In [1]:
import os
os.chdir('../saliency_model/')

import numpy as np
import pickle
import matplotlib.pyplot as plt
import matplotlib.gridspec as gridspec
import matplotlib

import pandas as pd
import seaborn as sns
from glob import glob

matplotlib.rcParams.update({'font.size': 15})

### Pick Metric
NSS, SIM, IG, AUC

In [2]:
os.chdir('../results/')
glob('*.p')

['19-02-01_results_over_baseline_faces_07.p',
 '19-02-01_results_plain_models.p',
 '19-02-01_results_face_07.p',
 '2019-05-12_results-with-std.p',
 '19-02-01_results_over_baseline_faces_05.p',
 '2019-05-11_results-with-std.p',
 '19-02-01_results_over_baseline_faces_03.p',
 '19-01-31_results.p',
 '19-02-01_results_face_03.p',
 '19-02-01_results_face_05.p']

## Pick the Dataset and Load Required Data

In [3]:
# loading the files
os.chdir('../results/')
(summary, context, model, metric) = pickle.load(open( "2019-05-12_results-with-std.p", "rb"))

In [4]:
print(np.shape(summary))
print(context)
print(model)
print(metric)

(6, 5, 8)
['all', 'person', 'no person', 'animal', 'sports', 'electronic']
['gbvs', 'gbvs_face_03', 'gbvs_face_05', 'gbvs_face_07', 'dg']
['nss mean', 'sim mean', 'ig mean', 'auc mean', 'nss std', 'sim std', 'ig std', 'auc std']

In [5]:
nss_mean = summary[:,:,0]
sim_mean = summary[:,:,1]
ig_mean = summary[:,:,2]
auc_mean = summary[:,:,3]

nss_std = summary[:,:,4]
sim_std = summary[:,:,5]
ig_std = summary[:,:,6]
auc_std = summary[:,:,7]

### NSS

In [6]:
df_nss_mean = pd.DataFrame(data=nss_mean, columns=model, index=context)
df_nss_std = pd.DataFrame(data=nss_std, columns=model, index=context)

In [7]:
df_nss_mean.head()

           gbvs  gbvs_face_03  gbvs_face_05  gbvs_face_07   dg
all         0.0           0.0           0.0           0.0  0.0
person      0.0           0.0           0.0           0.0  0.0
no person   0.0           0.0           0.0           0.0  0.0
animal      0.0           0.0           0.0           0.0  0.0
sports      0.0           0.0           0.0           0.0  0.0

In [8]:
df_nss_std.head()

           gbvs  gbvs_face_03  gbvs_face_05  gbvs_face_07   dg
all         0.0           0.0           0.0           0.0  0.0
person      0.0           0.0           0.0           0.0  0.0
no person   0.0           0.0           0.0           0.0  0.0
animal      0.0           0.0           0.0           0.0  0.0
sports      0.0           0.0           0.0           0.0  0.0

### SIM

In [9]:
df_sim_mean = pd.DataFrame(data=sim_mean, columns=model, index=context)
df_sim_std = pd.DataFrame(data=sim_std, columns=model, index=context)

In [10]:
df_sim_mean.head()

           gbvs  gbvs_face_03  gbvs_face_05  gbvs_face_07   dg
all         0.0           0.0           0.0           0.0  0.0
person      0.0           0.0           0.0           0.0  0.0
no person   0.0           0.0           0.0           0.0  0.0
animal      0.0           0.0           0.0           0.0  0.0
sports      0.0           0.0           0.0           0.0  0.0

In [11]:
df_sim_std.head()

           gbvs  gbvs_face_03  gbvs_face_05  gbvs_face_07   dg
all         0.0           0.0           0.0           0.0  0.0
person      0.0           0.0           0.0           0.0  0.0
no person   0.0           0.0           0.0           0.0  0.0
animal      0.0           0.0           0.0           0.0  0.0
sports      0.0           0.0           0.0           0.0  0.0

### AUC

In [12]:
df_auc_mean = pd.DataFrame(data=auc_mean, columns=model, index=context)
df_auc_std = pd.DataFrame(data=auc_std, columns=model, index=context)

In [13]:
df_auc_mean.head()

               gbvs  gbvs_face_03  gbvs_face_05  gbvs_face_07        dg
all        0.749465      0.752009      0.752898      0.753201  0.760010
person     0.758711      0.763010      0.764442      0.764895  0.773875
no person  0.734478      0.734177      0.734184      0.734245  0.737536
animal     0.734344      0.735972      0.736536      0.736809  0.749271
sports     0.783232      0.784090      0.784087      0.784198  0.784495

In [14]:
df_auc_std.head()

               gbvs  gbvs_face_03  gbvs_face_05  gbvs_face_07        dg
all        0.089805      0.090078      0.090262      0.090222  0.094972
person     0.090389      0.090345      0.090460      0.090369  0.093331
no person  0.086782      0.086728      0.086736      0.086693  0.093296
animal     0.095960      0.097058      0.097695      0.097894  0.102641
sports     0.090115      0.091386      0.091811      0.092127  0.090676

### IG

In [15]:
df_ig_mean = pd.DataFrame(data=ig_mean, columns=model, index=context)
df_ig_std = pd.DataFrame(data=ig_std, columns=model, index=context)

In [17]:
df_ig_mean.head()

               gbvs  gbvs_face_03  gbvs_face_05  gbvs_face_07        dg
all        4.389129      4.401902      4.409638      4.407047  3.110164
person     4.261897      4.283458      4.295767      4.291430  2.745240
no person  4.595379      4.593905      4.594228      4.594469  3.701723
animal     4.601708      4.607203      4.612659      4.618031  2.988734
sports     4.191043      4.194267      4.198131      4.180200  1.685864

In [16]:
df_ig_std.head()

               gbvs  gbvs_face_03  gbvs_face_05  gbvs_face_07        dg
all        2.754745      2.757972      2.756112      2.750730  3.645712
person     2.806243      2.810237      2.807265      2.798518  3.934831
no person  2.656238      2.659893      2.660777      2.660797  3.028623
animal     2.659255      2.658761      2.658060      2.656514  3.833621
sports     2.997117      3.006711      3.012042      3.017558  4.809530