In [1]:
import pickle
import numpy as np
import pandas as pd

In [2]:
cxt = ['all', 'person', 'no person', 'animal', 'sports', 'electronic']

In [3]:
AIM_auc_m = pd.read_csv('AIM_auc_m.csv', index_col=[0])
CAS_auc_m = pd.read_csv('CAS_auc_m.csv', index_col=[0])
COVSAL_auc_m = pd.read_csv('COVSAL_auc_m.csv', index_col=[0])
GBVS_auc_m = pd.read_csv('GBVS_auc_m.csv', index_col=[0])
ICF_auc_m = pd.read_csv('ICF_auc_m.csv', index_col=[0])
IK_auc_m = pd.read_csv('IK_auc_m.csv', index_col=[0])
SUN_auc_m = pd.read_csv('SUN_auc_m.csv', index_col=[0])

AIM_auc_s = pd.read_csv('AIM_auc_s.csv', index_col=[0])
CAS_auc_s = pd.read_csv('CAS_auc_s.csv', index_col=[0])
COVSAL_auc_s = pd.read_csv('COVSAL_auc_s.csv', index_col=[0])
GBVS_auc_s = pd.read_csv('GBVS_auc_s.csv', index_col=[0])
ICF_auc_s = pd.read_csv('ICF_auc_s.csv', index_col=[0])
IK_auc_s = pd.read_csv('IK_auc_s.csv', index_col=[0])
SUN_auc_s = pd.read_csv('SUN_auc_s.csv', index_col=[0])

In [4]:
CAS_auc_m

                 cas  cas_face_03  cas_face_05  cas_face_07
all         0.694740     0.698729     0.700353     0.701140
person      0.705537     0.711624     0.714109     0.715308
no person   0.674566     0.674635     0.674653     0.674669
animal      0.688424     0.689674     0.690178     0.690495
sports      0.743562     0.745200     0.745823     0.746190
electronic  0.681332     0.686698     0.688780     0.689888

## Save per metric

### Mean value

In [5]:
labels = ['aim', 'cas','covsal','gbvs','icf','ik','sun',]

In [6]:
no_face = [
  AIM_auc_m['aim'].tolist(), 
  CAS_auc_m['cas'].tolist(),
  COVSAL_auc_m['covsal'].tolist(),
  GBVS_auc_m['gbvs'].tolist(),
  ICF_auc_m['icf'].tolist(),
  IK_auc_m['ik'].tolist(),
  SUN_auc_m['sun'].tolist(),
  ICF_auc_m['dg'].tolist(),
  ]

face_03 = [
  AIM_auc_m['aim_face_03'].tolist(), 
  CAS_auc_m['cas_face_03'].tolist(),
  COVSAL_auc_m['covsal_face_03'].tolist(),
  GBVS_auc_m['gbvs_face_03'].tolist(),
  ICF_auc_m['icf_face_03'].tolist(),
  IK_auc_m['ik_face_03'].tolist(),
  SUN_auc_m['sun_face_03'].tolist(),
  ]

face_05 = [
  AIM_auc_m['aim_face_05'].tolist(), 
  CAS_auc_m['cas_face_05'].tolist(),
  COVSAL_auc_m['covsal_face_05'].tolist(),
  GBVS_auc_m['gbvs_face_05'].tolist(),
  ICF_auc_m['icf_face_05'].tolist(),
  IK_auc_m['ik_face_05'].tolist(),
  SUN_auc_m['sun_face_05'].tolist(),
  ]

face_07 = [
  AIM_auc_m['aim_face_07'].tolist(), 
  CAS_auc_m['cas_face_07'].tolist(),
  COVSAL_auc_m['covsal_face_07'].tolist(),
  GBVS_auc_m['gbvs_face_07'].tolist(),
  ICF_auc_m['icf_face_07'].tolist(),
  IK_auc_m['ik_face_07'].tolist(),
  SUN_auc_m['sun_face_07'].tolist(),
  ]

In [7]:
ICF_auc_m

                 icf  icf_face_03  icf_face_05  icf_face_07        dg
all         0.714083     0.715740     0.716269     0.716903  0.774691
person      0.724809     0.727315     0.728127     0.729096  0.785386
no person   0.694044     0.694115     0.694113     0.694122  0.754710
animal      0.707857     0.708423     0.708662     0.709061  0.782197
sports      0.742238     0.743268     0.743702     0.744237  0.802257
electronic  0.706599     0.709048     0.709841     0.710843  0.770191

In [8]:
AUC_mean_noface = pd.DataFrame(data=no_face, index=labels+['dg'], columns=cxt)
AUC_mean_face_03 = pd.DataFrame(data=face_03, index=labels, columns=cxt)
AUC_mean_face_05 = pd.DataFrame(data=face_05, index=labels, columns=cxt)
AUC_mean_face_07 = pd.DataFrame(data=face_07, index=labels, columns=cxt)

In [9]:
AUC_mean_noface

             all    person  no person    animal    sports  electronic
aim     0.667399  0.675930   0.651460  0.658173  0.702019    0.660210
cas     0.694740  0.705537   0.674566  0.688424  0.743562    0.681332
covsal  0.743704  0.748337   0.735049  0.749722  0.755804    0.738809
gbvs    0.749366  0.756851   0.735382  0.754977  0.780210    0.744469
icf     0.714083  0.724809   0.694044  0.707857  0.742238    0.706599
ik      0.656940  0.669288   0.633871  0.656090  0.692848    0.657036
sun     0.624444  0.625526   0.622424  0.592391  0.633091    0.624564
dg      0.774691  0.785386   0.754710  0.782197  0.802257    0.770191

### Std

In [10]:
no_face = [
  AIM_auc_s['aim'].tolist(), 
  CAS_auc_s['cas'].tolist(),
  COVSAL_auc_s['covsal'].tolist(),
  GBVS_auc_s['gbvs'].tolist(),
  ICF_auc_s['icf'].tolist(),
  IK_auc_s['ik'].tolist(),
  SUN_auc_s['sun'].tolist(),
  ICF_auc_s['dg'].tolist(),
  ]

face_03 = [
  AIM_auc_s['aim_face_03'].tolist(), 
  CAS_auc_s['cas_face_03'].tolist(),
  COVSAL_auc_s['covsal_face_03'].tolist(),
  GBVS_auc_s['gbvs_face_03'].tolist(),
  ICF_auc_s['icf_face_03'].tolist(),
  IK_auc_s['ik_face_03'].tolist(),
  SUN_auc_s['sun_face_03'].tolist(),
  ]

face_05 = [
  AIM_auc_s['aim_face_05'].tolist(), 
  CAS_auc_s['cas_face_05'].tolist(),
  COVSAL_auc_s['covsal_face_05'].tolist(),
  GBVS_auc_s['gbvs_face_05'].tolist(),
  ICF_auc_s['icf_face_05'].tolist(),
  IK_auc_s['ik_face_05'].tolist(),
  SUN_auc_s['sun_face_05'].tolist(),
  ]

face_07 = [
  AIM_auc_s['aim_face_07'].tolist(), 
  CAS_auc_s['cas_face_07'].tolist(),
  COVSAL_auc_s['covsal_face_07'].tolist(),
  GBVS_auc_s['gbvs_face_07'].tolist(),
  ICF_auc_s['icf_face_07'].tolist(),
  IK_auc_s['ik_face_07'].tolist(),
  SUN_auc_s['sun_face_07'].tolist(),
  ]

In [11]:
AUC_std_noface = pd.DataFrame(data=no_face, index=labels+['dg'], columns=cxt)
AUC_std_face_03 = pd.DataFrame(data=face_03, index=labels, columns=cxt)
AUC_std_face_05 = pd.DataFrame(data=face_05, index=labels, columns=cxt)
AUC_std_face_07 = pd.DataFrame(data=face_07, index=labels, columns=cxt)

In [12]:
AUC_std_noface

             all    person  no person    animal    sports  electronic
aim     0.097074  0.096867   0.095437  0.102570  0.099681    0.092274
cas     0.105034  0.104402   0.103221  0.109182  0.102676    0.101350
covsal  0.093705  0.092729   0.094896  0.091953  0.092810    0.092794
gbvs    0.090192  0.089663   0.089510  0.090734  0.088410    0.089205
icf     0.107334  0.105246   0.108320  0.112955  0.107793    0.104413
ik      0.108968  0.108040   0.106926  0.115292  0.110668    0.108642
sun     0.098969  0.099154   0.098589  0.112098  0.106809    0.091018
dg      0.093391  0.090612   0.095205  0.094686  0.086958    0.089656

In [13]:
AUC_std_noface.to_csv('AUC_std_noface.csv')
AUC_std_face_03.to_csv('AUC_std_face_03.csv')
AUC_std_face_05.to_csv('AUC_std_face_05.csv')
AUC_std_face_07.to_csv('AUC_std_face_07.csv')

AUC_mean_noface.to_csv('AUC_mean_noface.csv')
AUC_mean_face_03.to_csv('AUC_mean_face_03.csv')
AUC_mean_face_05.to_csv('AUC_mean_face_05.csv')
AUC_mean_face_07.to_csv('AUC_mean_face_07.csv')

## Calculate means

In [14]:
A = AUC_mean_noface.values
A = A[:-1,:]
B = AUC_mean_face_03.values
C = AUC_mean_face_05.values
D = AUC_mean_face_07.values

In [15]:
X = np.dstack([A, B, C, D])

In [16]:
np.shape(X)

(7, 6, 4)

In [17]:
cxt

['all', 'person', 'no person', 'animal', 'sports', 'electronic']

In [18]:
labels

['aim', 'cas', 'covsal', 'gbvs', 'icf', 'ik', 'sun']

### Mean over contexts

In [19]:
mean_models = (X.mean(axis=1))

AUC_mean_models = pd.DataFrame(data=mean_models, columns=[0, 0.3, 0.5, 0.7], index=labels)
AUC_mean_models

             0.0       0.3       0.5       0.7
aim     0.669199  0.673258  0.673903  0.674555
cas     0.698027  0.701093  0.702316  0.702949
covsal  0.745238  0.747885  0.748861  0.749940
gbvs    0.753542  0.755636  0.756215  0.756455
icf     0.714938  0.716318  0.716786  0.717377
ik      0.661012  0.665232  0.666213  0.666927
sun     0.620407  0.626062  0.627546  0.628355

### Mean over models

In [20]:
mean_cxt = (X.mean(axis=0))

AUC_mean_cxt = pd.DataFrame(data=mean_cxt, columns=[0, 0.3, 0.5, 0.7], index=cxt)
AUC_mean_cxt

                 0.0       0.3       0.5       0.7
all         0.692954  0.697078  0.698186  0.698951
person      0.700897  0.707177  0.708871  0.710029
no person   0.678114  0.678209  0.678224  0.678253
animal      0.686805  0.688359  0.688794  0.689179
sports      0.721396  0.723656  0.724362  0.724947
electronic  0.687574  0.693079  0.694568  0.695690

In [21]:
AUC_mean_cxt.to_csv('AUC_mean_cxt.csv')
AUC_mean_models.to_csv('AUC_mean_models.csv')